#header, #subheader h2, h3{
  font-weight: bold;
}
#header, #subheader{
  background-image: url("https://raw.githubusercontent.com/bouyea/broadway/master/resources/images/index.png");
  background-position: center;
  background-size: cover;
}
#footer{
  background-color: dimgray;
  background-size: cover;
}
#subheader, #footer .copywright{
  font-size: 11px;
}
.maincolor, .mainlist li a, #footer .copywright, .title, #footer .foot_nav li a{
    color:white;
}
.title{
  font-size: 70px;
  padding: 0px 0px 0px 12px;
  margin: 0;
}
.mainlist{
  margin: 0;
  padding: 0;
}
.mainlist li a{
  padding: 4px;
  font-size: 18px;
  display: block;
}
.copywright{
  padding: 0px 2px;
  margin: 4px 0px 0px 0px;
  float:left;
  text-decoration: none;
}
.foot_nav{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: dimgray;
  list-style-type: none;
}
.foot_nav li{
  float: left;
}
.foot_nav li a{
  font-size: 18px;
  display: block;
  padding: 0px 2px;
  text-decoration:underline;
}
body{
  font-family: helvetica,sans-serif;
  font-size: 14px;
  text-align: center;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 23px;
}
p{
  font-size: 14px;
}
