body{
  font-family: helvetica,sans-serif;
  font-size: 14px;
  text-align: center;
}
.maincolor, .copy, .header, .mainlist li a{
    color:white;
}
.header{
  font-size: 70px;
  padding: 0px 0px 0px 12px;
  margin: 0;
}
.mainlist{
  margin: 0;
  padding: 0;
}
.mainlist li a{
  padding: 4px;
  font-size: 18px;
  display: block;
}
#header, #subheader h2, h3{
  font-weight: bold;
}
#header, #subheader{
  background-image: url("https://raw.githubusercontent.com/bouyea/broadway/master/resources/images/index.png");
  background-position: center;
  background-size: cover;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 23px;
}
p{
  font-size: 14px;
}
#footer{
  background-color: dimgray;
  background-size: cover;
}
#subheader, #footer{
  font-size: 11px;
}
.copy {
    float: left;
    padding: 0px 2px;
    margin: auto;
    text-decoration: none;
    float: left;
}
.foot_nav{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: dimgray;
  list-style-type: none;
}
.foot_nav li {
  float: left;
}
.foot_nav li a{
  color: white;
  display: block;
  padding: 0px 2px;
  text-decoration: none;
}
